name: Releaser

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  npm:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0

      - name: Set Node.js
        uses: actions/setup-node@v6.2.0
        with:
          registry-url: 'https://registry.npmjs.org'

      - name: Install Bun
        uses: oven-sh/setup-bun@v2.1.2

      - name: Setup Pantry
        uses: home-lang/pantry-setup@v1

      - name: Install Dependencies
        run: bun install

      - name: Publish
        run: pantry publish --npm --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Create GitHub Release
        uses: stacksjs/action-releaser@v1.2.9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
